<!-- about section
================================================== -->
<section id="about">
  <div class="row section-intro">
    <div class="col-twelve">
      <h5>About</h5>
      <h1>Let me introduce myself.</h1>

      <div class="intro-info">
        <img src="assets/images/profile-pic.jpg" alt="Profile Picture" />

        <p class="lead">
          I'm a 19 year old computer science student at
          <a href="https://www.concordia.ca/">Concordia University</a>. My day
          usually consists of me playing around with new tools, listening to
          podcasts, and of course, <del>sleeping</del> working. You can learn
          more about me and my
          <a class="smoothscroll" href="#portfolio">projects</a>. below!
        </p>
      </div>
    </div>
  </div>
  <!-- /section-intro -->

  <div class="row about-content">
    <div class="col-six tab-full">
      <h3>Profile</h3>

      <ul class="info-list">
        <strong>Tools:</strong>

        <div class="table-responsive">
          <table>
            <tbody>
              {% for tool in site.data.tools %}
              <tr>
                <td>{{tool.function}}</td>
                <td>{{tool.tool}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <strong>Future Ventures:</strong>

        <ul class="disc">
          {% for venture in site.data.ventures %}
          <li>{{venture.name}}</li>
          {% endfor %}
        </ul>
      </ul>
      <!-- /info-list -->
    </div>

    <div class="col-six tab-full">
      <h3>Skills</h3>

      <p align="center">
        {% for skill in site.data.skills %}
        <img src="{{skill.link}}" />
        {% endfor %}
      </p>
    </div>
  </div>

  <div class="row button-section">
    <div class="col-twelve">
      <a href="#contact" title="Hire Me" class="button stroke smoothscroll">
        Find Me
      </a>
      <a
        href="/assets/images/uploads/resume.pdf"
        title="Download CV"
        class="button button-primary"
      >
        Download Resume
      </a>
    </div>
  </div>
</section>
<!-- /process-->
