<meta name="description" content="" />
<meta name="author" content="" />

<!-- mobile specific metas
   ================================================== -->
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, maximum-scale=1"
/>

<!-- CSS
   ================================================== -->
<link rel="stylesheet" href="assets/css/base.css" />
<link rel="stylesheet" href="assets/css/main.css" />
<link rel="stylesheet" href="assets/css/vendor.css" />

<!-- script
   ================================================== -->
<script src="assets/js/modernizr.js"></script>
<script src="assets/js/pace.min.js"></script>

<!-- favicons
	================================================== -->
<link rel="icon" type="image/png" href="assets/favicon.png" />

<style>
  @media screen and (max-width: 1000px) {
    #old-code {
      display: none;
    }
  }
</style>
