<!-- intro section
   ================================================== -->
<section id="intro">
  <div class="intro-overlay"></div>

  <div class="intro-content">
    <div class="row">
      <div class="col-twelve">
        <h5>Hello, World. I'm</h5>
        <h1>Vaansh Lakhwara.</h1>

        <p class="intro-position">
          <span>Developer</span>
          <span>Student</span>
        </p>

        <a class="button stroke smoothscroll" href="#about" title="">More About Me</a>
      </div>
    </div>
  </div>
  <!-- /intro-content -->
</section>

<ul class="intro-social">                          
  <li><a href="https://twitter.com/vaansh_lakhwara"><i class="fa fa-twitter"></i></a></li>
  <li><a href="https://github.com/Vaansh"><i class="fa fa-github"></i></a></li>
  <li><a href="https://ca.linkedin.com/in/vaansh"><i class="fa fa-linkedin"></i></a></li>
  <li><a href="https://www.instagram.com/1nshed"><i class="fa fa-instagram"></i></a></li>  
</ul> <!-- /intro-social -->      	

</section> <!-- /intro -->