<!-- lounge Section
   ================================================== -->
<section id="resume" class="grey-section">
  <div class="row section-intro">
    <div class="col-twelve">
      <h5>Lounge</h5>
      <h1>Just a few more things to share.</h1>

      <p class="lead">Because.. why not.</p>
    </div>
  </div>
  <!-- /section-intro-->

  <div class="row resume-timeline">
    <div class="col-twelve resume-header">
      <h2>Favourite Quotes</h2>

      <div class="row about-content">
        <div class="col-six tab-full">
          <h3>Profile</h3>
    
          <ul class="info-list">
            <blockquote>
              <p>
                Nothing in this world can take the place of persistence. Talent will
                not; nothing is more common than unsuccessful men with talent. Genius
                will not; unrewarded genius is almost a proverb. Education will not;
                the world is full of educated derelicts. Persistence and determination
                alone are omnipotent. The slogan Press On! has solved and always will
                solve the problems of the human race.
              </p>
              <cite>
                <a href="https://en.wikipedia.org/wiki/Wayne_Gretzky">
                  Calvin Coolidge</a
                >
              </cite>
            </blockquote>
            <blockquote>
              <p>
                Some people see things that are and ask, Why? Some people dream of
                things that never were and ask, Why not? Some people have to go to
                work and don't have time for all that.
              </p>
              <cite>
                <a href="https://en.wikipedia.org/wiki/Wayne_Gretzky">
                  George Carlin</a
                >
              </cite>
            </blockquote>
        </div>
    
        <div class="col-six tab-full">          
          <blockquote>
            <p>
              In the beginning the Universe was created. This has made a lot of
              people very angry and been widely regarded as a bad move.
            </p>
            <cite>
              <a href="https://en.wikipedia.org/wiki/Wayne_Gretzky">
                Douglas Adams</a
              >
            </cite>
          </blockquote>
          <blockquote>
            <p>
              Happiness is to be found along the way, not at the end of the road.
            </p>
            <cite>
              <a href="https://en.wikipedia.org/wiki/Wayne_Gretzky">
                Douglas Adams</a
              >
            </cite>
          </blockquote>
          <blockquote>
            <p>
              how lucky am i to have something that makes saying goodbye so hard.
            </p>
            <cite>
              <a href="https://en.wikipedia.org/wiki/Wayne_Gretzky"
                >Winnie the Pooh</a
              >
            </cite>
          </blockquote>
          <blockquote>
            <p>You miss 100% of the shots you don't take</p>
            <cite>
              <a href="https://en.wikipedia.org/wiki/Wayne_Gretzky"
                >Wayne Gretzky</a
              >
            </cite>
            <cite>
              <a href="https://en.wikipedia.org/wiki/Michael_Scott_(The_Office)"
                >Michael Scott</a
              >
            </cite>
          </blockquote>       
        </div>
      </div>                                          
    </div>
    <!-- /col-twelve -->
  </div>
  <!-- /resume-timeline -->
</section>
<!-- /features -->
