<!-- lounge Section
   ================================================== -->
<section id="lounge" class="grey-section">
  <div class="row section-intro">
    <div class="col-twelve">
      <h5>Lounge</h5>
      <h1>Just a few more things to share.</h1>
      <p class="lead">Because.. why not.</p>
    </div>
  </div>

  <!-- /section-intro-->
  <div class="row lounge-timeline">
    <div class="col-twelve lounge-header">
      <h2>Favourite Quotes</h2>

      <div class="row about-content">
        <div class="col-six tab-full">
          <h3>Profile</h3>
          <ul class="info-list">
            {% for quote in site.data.leftquote %}
            <blockquote>
              <p>{{quote.quote}}</p>
              <cite>
                <a href="{{quote.credit}}"> {{quote.by}} </a>
              </cite>
            </blockquote>
            {% endfor %}
          </ul>
        </div>

        <div class="col-six tab-full">
          <ul class="info-list">
            {% for quote in site.data.rightquote %}
            <blockquote>
              <p>{{quote.quote}}</p>
              <cite>
                <a href="{{quote.credit}}"> {{quote.by}} </a>
              </cite>
            </blockquote>
            {% endfor %}
            <blockquote>
              <p>You miss 100% of the shots you don't take</p>
              <cite>
                <a href="https://en.wikipedia.org/wiki/Wayne_Gretzky">
                  Wayne Gretzky
                </a>
              </cite>
              <cite>
                <a
                  href="https://en.wikipedia.org/wiki/Michael_Scott_(The_Office)"
                >
                  Michael Scott
                </a>
              </cite>
            </blockquote>
          </ul>
        </div>
      </div>
      <div id="old-code">
        <h2>Old Code</h2>
        <h4>
          This was the first function I ever wrote (which I could still find).
        </h4>
        <iframe
          src="https://carbon.now.sh/embed?bg=rgba%28235%2C235%2C235%2C1%29&t=one-dark&wt=none&l=text%2Fx-java&ds=true&dsyoff=7px&dsblur=12px&wc=true&wa=true&pv=54px&ph=100px&ln=true&fl=1&fm=Hack&fs=15.5px&lh=133%25&si=false&es=2x&wm=false&code=%252F**%250A*%2520Precondition%253A%2520n%253E%253D1%2520%250A*%2520Returns%2520the%2520sum%2520of%2520the%2520squares%2520of%2520the%2520numbers%25201%2520through%2520n.%250A*%252F%250Apublic%2520static%2520int%2520squares%28int%2520n%29%2520%257B%250A%2520%2520%2520if%28n%253C1%29%2520%257B%250A%2520%2520%2520%2520%2520%2520return%25201%253B%2509%2509%250A%2520%2520%2520%257D%2509%2509%250A%2520%2520%2520else%2520%257B%250A%2520%2520%2520%2520%2520%2520sum%252B%253DMath.pow%28n%252C%25202%29%253B%250A%2520%2520%2520%2520%2520%2520squares%28n-1%29%253B%250A%2520%2520%2520%2520%2520%2520return%2520sum%253B%250A%2520%2520%2520%257D%2509%2509%250A%257D"
          style="
            width: 1024px;
            height: 473px;
            border: 0;
            transform: scale(1);
            overflow: hidden;
          "
          sandbox="allow-scripts allow-same-origin"
        ></iframe>
      </div>
    </div>
  </div>
</section>
<!-- /features -->
