<!-- Projects Section
   ================================================== -->
<section id="portfolio">
  <div class="row section-intro">
    <div class="col-twelve">
      <h5>Projects</h5>
      <h1>Check Out Some of My Works.</h1>

      <p class="lead">
        I like working on projects on my own time, <mark>click on them</mark> to
        know more.
      </p>
    </div>
  </div>
  <!-- /section-intro-->

  <div class="row portfolio-content">
    <div class="col-twelve">
      {% for project in site.data.projects %}
      <!-- portfolio-wrapper -->
      <div id="folio-wrapper" class="block-1-2 block-mob-full stack">
        <div class="bgrid folio-item">
          <div class="item-wrap">
            <img
              src="assets/images/portfolio/{{project.title}}.jpg"
              alt="{{project.title}}"
            />
            <a href="#modal-{{project.index}}" class="overlay">
              <div class="folio-item-table">
                <div class="folio-item-cell">
                  <h3 class="folio-title">{{project.title}}</h3>
                  <span class="folio-types"> {{project.type}} </span>
                </div>
              </div>
            </a>
          </div>
        </div>        
        {% endfor %}
        <!-- /folio-item -->

        <!-- modal popups - begin
            ============================================================= -->
        {% for project in site.data.projects %}
        <div id="modal-{{project.index}}" class="popup-modal slider mfp-hide">
          <div class="media">
            <img
              src="assets/images/portfolio/modals/m-{{project.title}}.jpg"
              alt="{{project.title}}"
            />
          </div>
          <div class="description-box">
            <h4>{{project.title}}</h4>
            <p>{{project.desc}}</p>
            <div class="categories">{{project.type}}</div>
          </div>
          <div class="link-box">
            <a href="{{project.link}}">See Project</a>
            <a href="#" class="popup-modal-dismiss">Close</a>
          </div>
        </div>        
        {% endfor %}
        <!-- /modals -->
        
        <!-- modal popups - end
            ============================================================= -->
      </div>
      <!-- /portfolio-wrapper -->
    </div>
    <!-- /twelve -->
  </div>
  <!-- /portfolio-content -->
</section>
<!-- /portfolio -->
